* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
h1 {
  position: absolute;
  top: 2rem;
  padding-left: 2rem;
  letter-spacing: 4px;
}
.link-top {
  position: absolute;
  top: 6rem;
  left: 2rem;

  height: 1px;
  border-top: solid #acc0d8 1px;
}
.btn1 {
  position: absolute;

  top: 50%;
  left: 40%;
}
.btn2 {
  position: absolute;

  top: 60%;
  left: 37%;
}
